.main{
    margin-top: 10%;
}

.mainClick{
    margin-top: 2%;
}

body{
    background-color: #3B5BA5;
}

.fix{
    border:2px solid #E87A5D;
    border-radius: 5px;
    background-color:#E87A5D ;
    padding: 10px;
}

h1{
    color:#F3B941;
}

h4{
    color:#F3B941;
}
